.page {
    width: 100%;
    height: 100%;
}

.page1 {
    background-image: url("../images/wallhaven-839voo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page2 {
    background-image: url("../images/young-blonde-woman-looking-around-on-terrace-picjumbo-com.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page3 {
    background-image: url("../images/wallhaven-39gogv.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page4 {
    background-image: url("../images/wallhaven-eyp3ro.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.statement {
    position: absolute;
    top: 80px;
    color: #425f4f;
}

.beian {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: #FFF;
}