header, body {
    user-select: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }

header {
    width: 100%;
    height: 60px;
    background-color: rgb(124, 113, 113);
    color: rgb(44, 40, 40);
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    font-weight: 600;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container .section-block {
    padding: 15px;
    flex: 0 0 calc(50% - 30px);
    display: flex;
    flex-direction: column;    
}

.container .section-block img {
    width: 480px;
    height: 480px;
    border-radius: 8px;
    box-shadow: 0 0 5px 1px #999;
}

.container .section-block .description {
    padding: 10px;
}

.container .section-block .description .label {
    color: #3d3232;
}

.container .section-block .description .value {
    color: #181212;
}

.container .section-block .description .viewpoint {
    font-size: 12px;
    color: #464343;
}

.footer {
    margin: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: rgb(61, 54, 54);
    text-align: center;
    color: #FFF;
}

.footer .copyright {
    color: rgb(153, 122, 122);
}

.page {
    width: 100%;
    height: 100%;
}

.page1 {
    background-image: url("../images/wallhaven-839voo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page2 {
    background-image: url("../images/young-blonde-woman-looking-around-on-terrace-picjumbo-com.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page3 {
    background-image: url("../images/wallhaven-39gogv.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page4 {
    background-image: url("../images/wallhaven-eyp3ro.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.statement {
    position: absolute;
    top: 80px;
    color: #425f4f;
}

.beian {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: #FFF;
}